                <section class="row">
                    <section class="col-md-4">
                        <section class="card">
                            <section class="header">
                                <h4 class="title">Categorías de ventas</h4>
                                <p class="category">Desempeño en el último período</p>
                            </section>
                            <section class="content">
                                <section id="chartPreferences" class="ct-chart ct-perfect-fourth"></section>
                                <section class="footer">
                                    <section class="legend">
                                        <i class="fa fa-circle text-info"></i> Open
                                        <i class="fa fa-circle text-danger"></i> Bounce
                                        <i class="fa fa-circle text-warning"></i> Unsubscribe
                                    </section>
                                    <hr>
                                    <section class="stats">
                                        <i class="fa fa-clock-o"></i> Última actualización hace dos días
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                    <section class="col-md-8">
                        <section class="card">
                            <section class="header">
                                <h4 class="title">Histórico de flujo de efectivo</h4>
                                <p class="category">Últimas 24 horas</p>
                            </section>
                            <section class="content">
                                <section id="chartHours" class="ct-chart"></section>
                                <section class="footer">
                                    <section class="legend">
                                        <i class="fa fa-circle text-info"></i> Open
                                        <i class="fa fa-circle text-danger"></i> Click
                                        <i class="fa fa-circle text-warning"></i> Click Second Time
                                    </section>
                                    <hr>
                                    <section class="stats">
                                        <i class="fa fa-history"></i> Última actualización hace 3 minutos
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
                <section class="row">
                    <section class="col-md-6">
                        <section class="card ">
                            <section class="header">
                                <h4 class="title">Histórico de ventas</h4>
                                <p class="category">Todos los productos con impuestos incuídos</p>
                            </section>
                            <section class="content">
                                <section id="chartActivity" class="ct-chart"></section>
                                <section class="footer">
                                    <section class="legend">
                                        <i class="fa fa-circle text-info"></i> Tesla Model S
                                        <i class="fa fa-circle text-danger"></i> BMW 5 Series
                                    </section>
                                    <hr>
                                    <section class="stats">
                                        <i class="fa fa-check"></i> Data information certified
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                    <section class="col-md-6">
                        <section class="card ">
                            <section class="header">
                                <h4 class="title">Capital de trabajo</h4>
                                <p class="category">Backend development</p>
                            </section>
                            <section class="content">
                                <section class="table-full-width">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td>Sign contract for "What are conference organizers afraid of?"</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox" checked="">
                                                    </label>
                                                </td>
                                                <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox" checked="">
                                                    </label>
                                                </td>
                                                <td>
                                                    Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                                </td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td>Create 4 Invisible User Experiences you Never Knew About</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td>Read "Following makes Medium better"</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td>Unfollow 5 enemies from twitter</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </section>
                                <section class="footer">
                                    <hr>
                                    <section class="stats">
                                        <i class="fa fa-history"></i> Updated 3 minutes ago
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>