<nav class="navbar navbar-default navbar-fixed">
    <section class="container-fluid">
        <section class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">Sample application</span>
        </section>
        <section class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-globe"></i>
                        <b class="caret hidden-sm hidden-xs"></b>
                        <span *ngIf="notifications.length > 0" class="notification hidden-sm hidden-xs">{{ notifications.length }}</span>
                        <p *ngIf="notifications.length > 0" class="hidden-lg hidden-md">
                            {{ notifications }} Notifications
                            <b class="caret"></b>
                        </p>
                    </a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let notification of notifications">
                            <a href="{{ notification.route }}">{{ notification.label }}</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-search"></i>
                        <p class="hidden-lg hidden-md">Search</p>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a routerLink="profile">
                        <p>Mi cuenta</p>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <p>
                            Mis opciones
                            <b class="caret"></b>
                        </p>
                    </a>
                    <ul class="dropdown-menu text-right">
                        <li *ngFor="let accountOption of accountOptions">
                            <a href="{{ accountOption.route }}">{{ accountOption.label }}</a>
                        </li>
                    </ul>
                </li>
                <li class="separator hidden-lg hidden-md"></li>
            </ul>
        </section>
    </section>
</nav>